.form-control{

    border: none;
}

.fa-edit{

    color: black;
}

.edit{

    float: right;
}

.profilecontainer{

    border-radius: 1.5rem;
    height: 40rem;
    background-color: white;
}

.form-group{

    color: black;
}

.input{

    color: black !important;
}

.saveBtn{

    border-radius: 0.8rem;
    width: 19rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: #f7a943;
    border: 1px #f7a943 solid;
    color: black;
}

.passBtn{

    border-radius: 0.8rem;
    width: 9rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: #ee9118;
    border: 1px #ee9118 solid;

}
.cartRow
{
   background-color: white;
   height: 5rem;
   border-radius: 1rem; 
}
.inputField
{
    border: none;
    width: 3rem;
    background-color: white;

}

.cartRow
{
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   height: 15rem;
   border-radius: 0.3rem; 
   margin-right: 10rem !important;
   margin-left: 10rem !important;

}
.firstRow{
    margin-top: 5rem !important;

}
.inputField
{
    border: none;
    width: 3rem;
    background-color: white;

}
.buyBut
{
    border-radius: 0.8rem;
    width: 10rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: #f7a943;
    border: 1px #f7a943 solid;
}

.cartContainer{

    background-color: white !important;
    border-radius: 0.5rem;
}

.quantity{

    background-color: grey;
}